@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{
    --color-primary: #edb572;
    --color-danger: #ff7782;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #655c52;
    --color-dark: #473b33;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #677483;
    --color-dark-variant: #fe6c00;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
    --color-background:  #1e1611;
    --color-white: #29221d;
    --color-dark: #edeffd;
    --color-dark-variant: #fe6c00;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap:1.8rem;
    grid-template-columns: 14rem auto;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.text-muted{
    color: var(--color-info-dark);
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-succes);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 1.5rem;
    height: 4.6rem;
    width: 100%;
    margin: 0;
    z-index: 2;
    display: flex;
    justify-content: left;
    gap: 2rem;
    box-shadow: var(--box-shadow);
}

aside .top button{
    position: absolute;
    left: 2rem;
    display: none;
}

aside .top .profile{
    display: flex;
    gap: 2rem;
    text-align: left;
}

aside .top .profile .profile-photo{
    padding-top: 0.5rem;
}

aside .close{
    display: none;
}

aside .cart{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    width: 12%;
    position: fixed;
    top: 6rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

aside .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

main{
    margin-top: 7rem;
}

.dashboard-banner{
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 30px;
    cursor: pointer;
}

.dashboard-banner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

}

main h1{
    margin: 10px;
}

main .dashboard-menu{
    display: flex;
    gap: 10px;
    padding: 0.3rem 1rem;
    overflow-x: auto;
}

main .dashboard-menu > a{
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    min-width: 120px;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--color-info-dark);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    cursor: pointer;
}

main .dashboard-menu > a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: none;
}

main .dashboard-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
}

main .dashboard-card{
    background-color: var(--color-background);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

main .dashboard-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

main .card-detail{
    padding: 10px;
}

main .card-detail .precio{
    float: right;
}

main .card-time{
    color: var(--color-info-dark);
    font-size: 0.8rem;
}

.card-time #star {
    color: var(--color-primary);
    vertical-align: middle;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    cursor: auto;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: var(--color-dark);
    background: var(--color-white);
    border-radius: 10px;
    padding: 20px;
    max-height: 80%; /* Establece la altura máxima para que se muestre un scrollbar si es necesario */
    overflow-y: auto; /* Añade un scrollbar vertical si el contenido excede la altura máxima */
}

.popup-content .close {
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-dark-variant);
}

.popup-content .food-details h2{
    color: var(--color-primary);
    margin: 5px;
}

.popup-content .card-image {
    max-width: 100%;
    height: 50vh;
    border-radius: var(--border-radius-2);
}

.popup-content .star-icon {
    font-size: 20px;
    color: var(--color-primary);
    margin: 5px;
    vertical-align: middle;
}

.popup-content #toggleIngredients {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.popup-content #toggleDrinks {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.popup-content .material-icons-sharp {
    margin-left: 5px;
}

.ingredient-selector ul {
    list-style: none;
    padding: 0;
}

.ingredient-selector li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px dashed var(--color-primary);
    padding: 10px;
}

.ingredient-selector label {
    margin-right: auto; /* Mueve la etiqueta a la izquierda usando margin-right:auto */
}

.ingredient-selector input[type="checkbox"] {
    margin-left: auto; /* Mueve el checkbox a la derecha usando margin-left:auto */
}

.popup-content #ingredientSelector {
    display: none;
}

.popup-content #drinkSelector {
    display: none;
}

.order-details {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 20px;
}

.order-details .order-content {
    display: flex;
    justify-content: space-between;
}

.order-details .order-content .precio {
    display: table;
    align-items: center;
    margin-left: 5px;
}

.order-details .order-content .precio p {
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

.order-details .order-content button {
    background-color: var(--color-primary);
    color: var(--color-white);
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.order-content button span {
    margin-right: 10px;
    line-height: 1;
}

.order-content button span.material-icons-sharp {
    vertical-align: middle;
}

.order-details .order-content button:hover {
    background-color: var(--color-dark-variant);
}

.right{
    position: fixed;
    right: 0;
    background: var(--color-white);
    width: 25rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding: 0.5rem 1.5rem;
    display: none;
    animation: showMenu 400ms forwards;
}

.right .top{
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-bottom: 10px;
}

.right .close{
    cursor: pointer;
}

.order-address > h4 {
    line-height: 2;
}

.order-wrapper{
    height: 280px;
    width: 100%;
    overflow-y: scroll;
    margin: 20px 0;
}

/* scrollbar */

.order-wrapper::-webkit-scrollbar{
    width: 7px;
}

.order-wrapper::-webkit-scrollbar-track{
    background-color: var(--color-white);
    border-radius: 20px;
}

.order-wrapper::-webkit-scrollbar-thumb{
    background-color: var(--color-info-dark);
    border-radius: 20px;
}

.order-card{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    padding: 10px 0;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
}

.order-image{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 15px;
}

.amount {
    display: flex;
    align-items: center;
}

.amount span {
    cursor: pointer;
    padding: 5px;
    background-color: #eee;
}

.amount .material-icons-sharp {
    font-size: 20px;
    color: var(--color-primary);
    background-color: transparent;
}

.amount .amount-input {
    width: 10px;
    text-align: center;
    margin: 0 5px;
}

.divider{
    width: 100%;
    border: 1px dashed var(--color-primary);
}

.order-total > p{
    padding: 10px 0;
}

.order-total > p > span{
    float: right;
    font-weight: 600;
}

.order-promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border: 2px solid var(--color-info-dark);
    border-radius: 10px;
    height: 45px;
    padding: 0 5px;
    margin: 5px 0 10px 0;
}

.input-promo{
    height: 100%;
    background-color: transparent;
    border: none;
}

.button-promo{
    float: right;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    height: 80%;
    width: 100%;
    cursor: pointer;
}

.checkout{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--color-primary);
    border: none;
    border-radius: 20px;
    color: var(--color-info-dark);
    cursor: pointer;
}

.checkout:hover{
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .menu-opinions {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .menu-opinions table {
        width: 83vw;
    }

    main .menu-opinions thead tr th:nth-child(2),
    main .menu-opinions thead tr th:nth-child(3) {
        display: none;
    }

    main .menu-opinions tbody tr td:nth-child(2),
    main .menu-opinions tbody tr td:nth-child(3) {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    body {
        font-size: 0.8rem;  /* Ajusta el tamaño de fuente para dispositivos más pequeños */
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 100%;  /* Cambia la disposición de las columnas en el contenedor */
        width: 100%;
    }

    aside .top .profile {
        flex-direction: row; /* Mantén la dirección de los elementos en fila */
        align-items: center; /* Centra los elementos en dispositivos móviles */
        gap: 0.5rem; /* Ajusta el espacio entre los elementos */
        margin-left: 15%;
    }

    aside .top .profile .profile-photo {
        display: none; /* Oculta la foto de perfil en dispositivos móviles */
    }

    aside .top button {
        display: block; /* Muestra el botón de menú al lado de la información del perfil */
        right: 0;
        background-color: transparent;
    }

    aside .cart {
        padding-left: 0.5rem;
    }

    aside .sidebar {
        position: fixed;
        background: var(--color-white);
        top: 9.2%;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
    }

    aside .theme-toggler{
        margin-top: 10px;
        margin-left: 40%;
    }

    aside .sidebar a {
        width: 100%; /* Ajusta el ancho de los elementos de la barra lateral */
    }

    aside .sidebar h3 {
        display: block;
    }

    main {
        position: absolute;
        margin-top: 5rem;  /* Ajusta el espacio en la parte superior del contenido principal */
        padding: var(--card-padding);
    }

    main .dashboard-menu {
        flex-wrap: wrap;  /* Permite que los elementos del menú se envuelvan en dispositivos más pequeños */
    }

    main .dashboard-menu > a {
        min-width: auto;  /* Elimina la anchura mínima para los elementos del menú */
    }

    main .dashboard-content {
        grid-template-columns: 100%;  /* Cambia la disposición de las tarjetas en el contenido principal */
    }

    main .right {
        display: none;  /* Oculta el menú lateral derecho */
    }

    .dashboard-card {
        /* Ajustes de estilo para centrar el contenido */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

