@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{
    --color-primary: #edb572;
    --color-danger: #ff7782;
    --color-succes: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #655c52;
    --color-dark: #473b33;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #677483;
    --color-dark-variant: #fe6c00;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables{
    --color-background:  #1e1611;
    --color-white: #29221d;
    --color-dark: #edeffd;
    --color-dark-variant: #fe6c00;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--card-border-radius);
}

nav a {
    color: white;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius);
    text-decoration: none;
    padding: 15px;
    margin-right: 10px;
}

nav a:hover {
    background-color: var(--color-dark-variant);
    color: var(--color-white);
}

#logo {
    justify-content: left;
    width: 50px;
    height: 50px;
}

#pagina-inicio{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#servicios {
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.servicios-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.info {
    position: relative;
    overflow: hidden;
    max-width: 300px;
    width: 100%;
}

.info img {
    width: 150px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 2px solid var(--color-primary);
}

.info-container{
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    padding: 20px;
    padding-top: 90px;
    margin-top: 5rem;
    margin-left: 50px;
    max-width: 200px;
    width: 100%;
}

.separador {
    width: 50px;
    height: 3px;
    background-color: var(--color-dark);
    margin: 5px auto;
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#carousel{
    width: 90%;
    margin-left: 5%;
}

#carousel .carousel-inner .carousel-item img{
    max-height: 600px;
}
/* Estilos específicos para pantallas con un ancho máximo de 1200px */
@media screen and (max-width: 1200px) {
    nav {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    nav button {
        margin-right: 0;
    }

    #pagina-inicio {

    }

    #servicios {
        text-align: center;
        margin-left: 0;
    }

    .servicios-container {
        flex-direction: column;
    }

    .info-container {
        margin-left: 0;
        max-width: none;
    }

    footer {
        font-size: 0.7rem;
    }
}

