<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                <img src="../static/images/logo.png" alt="">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a class="dashboard" href="/admin/dashboard" >
                    <span class="material-icons-sharp">insights</span>
                    <h3>Reporte</h3>
                </a>
                <a class="pqrs" href="/admin/pqrs">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>PQRS</h3>
                    <span class="message-count">26</span>
                </a>
                <a class="inventario" href="/admin/inventario">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Inventario</h3>
                </a>
                <a class="menu" href="/admin/menu">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Menú</h3>
                </a>
                <a class="promo" href="/admin/guardarPromociones">
                    <span class="material-icons-sharp">monetization_on</span>
                    <h3>Añadir promociones</h3>
                </a>
                <a class="addP" href="/admin/guardarProducto">
                    <span class="material-icons-sharp">add</span>
                    <h3>Añadir productos</h3>
                </a>
                <a class="addI" href="/admin/guardarInsumo">
                    <span class="material-icons-sharp">add</span>
                    <h3>Añadir insumos</h3>
                </a>

                <a href="/login" id="add-insumos-btn">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Salir</h3>
                </a>
            </div>
        </aside>

        <main class="hidden">
            <h1>Reporte</h1>

            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Ventas Totales</h3>
                            <h1>$25,024</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 Horas</small>
                </div>

                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Gastos Totales</h3>
                            <h1>$25,024</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 Horas</small>
                </div>

                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Ingresos Recibidos</h3>
                            <h1>$25,024</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 Horas</small>
                </div>
            </div>

            <div class="menu-opinions">
                <h2>Menu del día</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                            <th>Calificaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pan con queso</td>
                            <td>20</td>
                            <td>2000</td>
                            <td class="danger">2.0</td>
                            <td class="primary">Opiniones</td>
                        </tr>
                        <tr>
                            <td>Pan con queso</td>
                            <td>20</td>
                            <td>2000</td>
                            <td class="danger">2.0</td>
                            <td class="primary">Opiniones</td>
                        </tr>
                        <tr>
                            <td>Pan con queso</td>
                            <td>20</td>
                            <td>2000</td>
                            <td class="danger">2.0</td>
                            <td class="primary">Opiniones</td>
                        </tr>
                        <tr>
                            <td>Pan con queso</td>
                            <td>20</td>
                            <td>2000</td>
                            <td class="danger">2.0</td>
                            <td class="primary">Opiniones</td>
                        </tr>
                        <tr>
                            <td>Pan con queso</td>
                            <td>20</td>
                            <td>2000</td>
                            <td class="danger">2.0</td>
                            <td class="primary">Opiniones</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Mostrar Todo</a>
            </div>

        </main>

        <div id="inventory" class="hidden">
            <h1>Inventario</h1>

            <div class="status-containers">
                <div class="status-container" id="vencimiento-container">
                    <p>Productos a punto de vencerse:</p>
                    <span id="vencimiento-count">0</span>
                </div>
                <div class="status-container" id="agotamiento-container">
                    <p>Insumos a punto de agotarse:</p>
                    <span id="agotamiento-count">0</span>
                </div>
                <div class="status-container" id="agotados-container">
                    <p>Insumos agotados:</p>
                    <span id="agotados-count">0</span>
                </div>
            </div>

            <div id="tipoInsumoButtons">
                <button onclick="cargarTabla('todos')">Todos</button>
                <button onclick="cargarTabla('lacteos')">Productos lácteos</button>
                <button onclick="cargarTabla('frutas')">Frutas</button>
                <button onclick="cargarTabla('verduras')">Verduras y hortalizas</button>
                <button onclick="cargarTabla('cereales')">Cereales, azúcares y derivados</button>
                <button onclick="cargarTabla('aceites')">Aceites y grasas</button>
                <button onclick="cargarTabla('papas')">Papas y legumbres</button>
                <button onclick="cargarTabla('frutosSecos')">Frutos secos</button>
            </div>

            <table id="tablaInsumos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Insumo</th>
                    <th>Precio</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody id="cuerpoTabla">
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Leche</td>
                        <td>$2.50</td>
                        <td>2023-12-31</td>
                        <td>150/200</td>
                    </tr>
                </tbody>
            </table>

            <div id="paginacion">
                <!-- Aquí se agregarán los botones de paginación -->
            </div>
        </div>

        <div id="insumos-form" class="hidden">

            <div class="title">Añadir Insumo</div>

            <form action="/admin/guardarInsumo" method="post">

                <div class="food-detail">
                    <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" placeholder="Ingresa el nombre del insumo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Tipo</span>
                        <select id="tipoInsumo" name="tipoComida" required>
                            <option value="LACTEOS">Productos lacteos</option>
                            <option value="FRUTAS">Frutas</option>
                            <option value="VERDURAS Y HORTALIZAS">Verduras y hortalizas</option>
                            <option value="CEREALES">Cereales, azucares y derivados</option>
                            <option value="ACEITES">Aceites y grasas</option>
                            <option value="LEGUMBRES">Papas y legumbres</option>
                            <option value="FRUTOSECO">Frutos secos</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Cantidad</span>
                        <input type="text" placeholder="Ingresa el stock" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Precio</span>
                        <input type="text" placeholder="Ingresa el costo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Fecha de Vencimiento</span>
                        <input type="date" id="fecha-vencimiento" name="fecha-vencimiento" required>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <span class="material-icons-sharp active">add</span>
                        <h3>Añadir Insumo</h3>
                    </div>
                </div>
            </form>
        </div>

        <div id="producto-form" class="hidden">

            <div class="title">Añadir Comida</div>

            <form action="/admin/guardarProducto" method="post" enctype="multipart/form-data">

                <div class="food-detail">
                    <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" name="nombre" placeholder="Ingresa el nombre del plato" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Precio</span>
                        <input type="text" name="precio" placeholder="Ingresa el precio" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Cantidad</span>
                        <input type="text" name="cantidad" placeholder="Ingresa el stock" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Tipo de comida</span>
                        <select id="tipoComida" name="tipoComida" required>
                            <option value="POSTRE">Postre</option>
                            <option value="PLATO_PRINCIPAL">Plato Principal</option>
                            <option value="FAST_FOOD">Fast Food</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Seleccionar Imagen</span>
                        <input type="file" id="imagen" name="imagen" accept="image/*" required>
                    </div>
                </div>
                <div class="days">
                    <span class="days-title">Días Disponibles</span>
                    <div class="disponibilidad">
                        <p>Lunes</p>
                        <input type="checkbox" id="lunes" name="dias[]">
                        <label for="lunes"></label>
                        <input type="hidden" name="lunes" value="1">

                        <p>Martes</p>
                        <input type="checkbox" id="martes" name="dias[]">
                        <label for="martes"></label>
                        <input type="hidden" name="martes" value="1">

                        <p>Miercoles</p>
                        <input type="checkbox" id="miercoles" name="dias[]">
                        <label for="miercoles"></label>
                        <input type="hidden" name="miercoles" value="1">

                        <p>Jueves</p>
                        <input type="checkbox" id="jueves" name="dias[]">
                        <label for="jueves"></label>
                        <input type="hidden" name="jueves" value="1">

                        <p>Viernes</p>
                        <input type="checkbox" id="viernes" name="dias[]">
                        <label for="viernes"></label>
                        <input type="hidden" name="viernes" value="1">

                        <p>Sabado</p>
                        <input type="checkbox" id="sabado" name="dias[]">
                        <label for="sabado"></label>
                        <input type="hidden" name="sabado" value="1">
                    </div>
                </div>

                <button type="submit" class="add-product">
                    <div>
                        <span class="material-icons-sharp active">add</span>
                        <h3>Añadir Producto</h3>
                    </div>
                </button>
            </form>
        </div>

        <div class="right hidden">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b> Daniel</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../static/images/menu-1.png">
                    </div>
                </div>
            </div>

            <div class="recent-updates">
                <h2>Actualizaciones recientes</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="../static/images/menu-1.png">
                        </div>
                        <div class="message">
                            <p><b>Carolina Medina</b> El domiciliario se comió
                            mi pechuga y me entregó los huesos</p>
                            <small class="text-muted">2 minutos</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="../static/images/menu-1.png">
                        </div>
                        <div class="message">
                            <p><b>Carolina Medina</b> Habia un pelo en mi sopa
                            y mi jugo.</p>
                            <small class="text-muted">2 minutos</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="../static/images/menu-1.png">
                        </div>
                        <div class="message">
                            <p><b>Carolina Medina</b> Estaba rico, pero podria
                            estar mejor.</p>
                            <small class="text-muted">2 minutos</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-analytics">
                <h2>Anáslisis de ventas</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-sharp active">shopping_cart</span>
                    </div>
                    <div class="info">
                        <h3>PEDIDOS EXITOSOS</h3>
                        <small class="text-muted">Últimas 24 Horas</small>
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>3999</h3>
                </div>
                <div class="item failed">
                    <div class="icon">
                        <span class="material-icons-sharp active">money_off</span>
                    </div>
                    <div class="info">
                        <h3>PEDIDOS FALLIDOS</h3>
                        <small class="text-muted">Últimas 24 Horas</small>
                    </div>
                    <h5 class="danger">+39%</h5>
                    <h3>3999</h3>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <span class="material-icons-sharp active">person</span>
                    </div>
                    <div class="info">
                        <h3>NUEVOS CLIENTES</h3>
                        <small class="text-muted">Últimas 24 Horas</small>
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>399</h3>
                </div>
            </div>
        </div>

    </div>


    <script src="../static/js/admin.js"></script>
</body>
</html>