<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cliente.css">
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <div class="profile">
                <div class="profile-photo">
                    <img src="../static/images/menu-1.png">
                </div>
                <div class="info">
                    <p>Hey, <b th:text="${usuario.username}"></b></p>
                    <small class="text-muted">Cliente</small>
                </div>
            </div>
            <div class="cart" id="shop-btn">
                <span class="material-icons-sharp">shopping_cart</span>
            </div>
        </div>

        <div class="sidebar">

            <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <a href="/cliente/dashboard" class="dashboard">
                <span class="material-icons-sharp">home</span>
                <h3>Inicio</h3>
            </a>
            <a href="/cliente/instantCard" class="instantCard">
                <span class="material-icons-sharp">credit_card</span>
                <h3>InstantCard</h3>
            </a>

            <a href="/cliente/historial" class="historial">
                <span class="material-icons-sharp">history</span>
                <h3>Historial</h3>
            </a>
            <a href="/cliente/cuenta" class="cuenta">
                <span class="material-icons-sharp">account_circle</span>
                <h3>Cuenta</h3>
            </a>
            <a href="/cliente/pqrs" class="pqrs">
                <span class="material-icons-sharp">flag</span>
                <h3>PQRS</h3>
            </a>
            <a href="/login">
                <span class="material-icons-sharp">logout</span>
                <h3>Salir</h3>
            </a>
        </div>
    </aside>

    <div class="instantCard-container">
        <div class="general">
            <h1>InstantCard</h1>
            <h3>¡Tu instantCard te estaba esperando!</h3>

            <div class="value-info">
                <div class="balance">
                    <small class="text-muted">Saldo Total</small>
                    <h3 th:text="${'$ ' + tarjeta.saldoT}"></h3>
                </div>
                <button id="btn-recargar">Recargar</button>
            </div>

            <div class="card" onclick="flipCard()">
                <div class="background-card"></div>
                <div class="content">
                    <p class="front">¡De Una!</p>
                    <div class="franja"></div>
                    <p class="back" th:text="${usuario.firstName + ' ' + usuario.lastName}"></p>
                </div>
            </div>

            <div class="redeem">
                <div class="info-points">
                    <h3>Redime Tus Puntos, ¡De Una!</h3>
                    <small class="text-muted">Puntos Totales</small>
                    <h2 th:text="${tarjeta.puntosRedimibles}" id="puntosRedimibles"></h2>
                    <small class="text-muted">Dinero redimido <span id="valor-en-pesos"></span></small>
                </div>
                <button id="btn-redimir">Redimir</button>
            </div>

            <div class="popup-overlay" id="popup-overlay-redimir">
                <div class="popup-recargar">
                    <button id="close-popup-recargar"><span class="close-btn material-icons-sharp">close</span></button>
                    <div class="codigo-section">
                        <div id="codigo-recarga"></div>
                    </div>
                    <div class="mensaje-section">
                        <p>Ten en cuente que al realizar la recarga,
                            debes dar este codigo, este codigo tiene una duración de
                            30 minutos, puedes recargar el valor que desees
                            en cualquier punto efecty y Pagatodo.
                        </p>
                    </div>
                    <div class="mensaje-warning">
                        <h2>¡Protege tu dinero!</h2>
                        <p>Recuerda cambiar tu clave de acceso a tu cuenta lo antes posible.
                            Al registrarte, tu tarjeta tiene la clave predeterminada: <strong>0000</strong>.</p>
                        <p>La seguridad de tu información financiera es nuestra prioridad.
                            Cambiar tu clave regularmente ayuda a proteger tu dinero y garantizar
                            la confidencialidad de tus transacciones.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="more-details">
            <div class="card-history">
                <h3>Historial de Transacciones</h3>
                <!-- Lista o tabla de historial de transacciones -->
            </div>
            <div class="detail-transaction">
                <h3>Detalle de Transacción</h3>
                <!-- Detalles específicos de una transacción -->
            </div>
        </div>
    </div>

    <div class="cuenta-container">

        <div class="actualizar-datos">
            <h2>Actualiza tus Datos</h2>

            <form action="" method="post" enctype="multipart/form-data">

                <div id="preview"></div>

                <label for="profile-pic">Foto de Perfil:</label>
                <input type="file" id="profile-pic" name="profile-pic" onchange="previewImage()">

                <!-- Nombre de usuario -->
                <label for="username">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" required>

                <!-- Correo -->
                <label for="email">Correo:</label>
                <input type="email" id="email" name="email" required>

                <!-- Dirección -->
                <label for="address">Dirección:</label>
                <input type="text" id="address" name="address">

                <!-- Teléfono -->
                <label for="phone">Teléfono:</label>
                <input type="tel" id="phone" name="phone">

                <!-- Nombre -->
                <label for="firstname">Nombres:</label>
                <input type="text" id="firstname" name="firstname">

                <!-- Apellido -->
                <label for="lastname">Apellidos:</label>
                <input type="text" id="lastname" name="lastname">


                <button type="submit">Actualizar Datos</button>
            </form>
        </div>

        <div class="aditional-changes">
            <div class="change-password">
                <h3>¿Deseas cambiar tu contraseña?</h3>
                <button>¡De Una!</button>
            </div>

            <div class="instant-password">
                <h3>Contraseña instantCard</h3>
                <button>Cambiar contraseña</button>
            </div>
        </div>

    </div>

    <div class="pqrs-container">

        <div class="pqrs-info">
            <h2>Tus solicitudes</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Respuesta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Petición</td>
                    <td>En Proceso</td>
                    <td><a href="#">Ver Respuesta</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Queja</td>
                    <td>Finalizado</td>
                    <td><a href="#" class="active">Ver Respuesta</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Reclamo</td>
                    <td>En proceso</td>
                    <td><a href="#">Ver Respuesta</a></td>
                </tr>
                <!-- Agrega más filas según sea necesario -->
                </tbody>
            </table>

            <button id="open-popup">Nuevo PQRS</button>
        </div>

        <div class="popup-overlay" id="popup-overlay">
            <div class="popup-pqrs">
                <button id="close-popup"><span class="close-btn material-icons-sharp">close</span></button>
                <form action="" method="post">

                    <h2>Formulario de PQRS</h2>

                    <label for="type">Tipo de solicitud:</label>
                    <select id="type" name="type" required>
                        <option value="petition">Petición</option>
                        <option value="complaint">Queja</option>
                        <option value="claim">Reclamo</option>
                        <option value="suggestion">Sugerencia</option>
                    </select>

                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>

                    <button id="send" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <main>

        <div class="dashboard-banner">
            <img src="../static/images/banner.png">
        </div>

        <h1> Tenemos Esto Para Tí</h1>
        <div class="dashboard-menu">
            <a th:href="@{/cliente/fastFood}">Fast Food</a>
            <a th:href="@{/cliente/platoPrincipal}">Principal</a>
            <a th:href="@{/cliente/postres}">Postres</a>
            <a th:href="@{/cliente/promociones}">Promociones</a>
            <a th:href="@{/cliente/mejoresCalificados}">Mejor calificado</a>
            <a href="/cliente/dashboard">Todo</a>
        </div>

        <div class="dashboard-content">
            <div th:each="comida, iterStat : ${comidas}" class="dashboard-card comida-card" th:onclick="'mostrarPopup(' + ${iterStat.index} + ')'">
                <img class="card-image" th:src="|data:image/png;base64,${comida.ruta}|" alt="Comida Imagen">
                <div class="card-detail">
                    <h4 th:text="${comida.nombre}"></h4>
                    <p th:text="${'$ ' + comida.precio}" class="precio"></p>
                    <p class="card-time">
                        <span class="material-icons-sharp" id="star">star</span>
                        <span th:text="${comida.calificacion}"></span>
                    </p>
                </div>
                <div class="popup" th:id="'popup-' + ${iterStat.index}" style="display: none;">
                    <div class="popup-content">
                        <form th:id="'form-' + ${iterStat.index}" class="order-details" id="order" method="post" action="/cliente/carritoCompras">
                            <span class="close material-icons-sharp" th:onclick="'cerrarPopup(event, ' + ${iterStat.index} + ')'">navigate_before</span>

                            <div class="food-details">
                                <img class="card-image" th:src="|data:image/png;base64,${comida.ruta}|" alt="Comida Imagen">
                                <h2 th:text="${comida.nombre}"></h2>
                                <input type="hidden" th:name="'idComida'" th:value="${comida.comidaId}">
                                <label>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </label>
                                <p class="card-time">
                                    <span class="material-icons-sharp star-icon">star</span>
                                    <span class="calificacion" th:text="${comida.calificacion}"></span>
                                </p>
                            </div>

                            <p id="toggleIngredients" class="toggle-selector">Selecciona los Ingredientes <span class="material-icons-sharp">expand_more</span></p>
                            <div class="ingredient-selector" id="ingredientSelector">
                                <ul>
                                    <li>
                                        <label for="ingrediente1">Ingrediente 1</label>
                                        <input type="checkbox" id="ingrediente1" name="ingredientes" value="ingrediente1">
                                    </li>
                                    <li>
                                        <label for="ingrediente2">Ingrediente 2</label>
                                        <input type="checkbox" id="ingrediente2" name="ingredientes" value="ingrediente2">
                                    </li>
                                    <li>
                                        <label for="ingrediente3">Ingrediente 3</label>
                                        <input type="checkbox" id="ingrediente3" name="ingredientes" value="ingrediente3">
                                    </li>
                                </ul>
                            </div>

                            <p id="toggleDrinks" class="toggle-selector">Selecciona tu bebida <span class="material-icons-sharp">expand_more</span></p>
                            <div class="ingredient-selector" id="drinkSelector">
                                <ul>
                                    <li>
                                        <label for="bebida1">Agua con gas</label>
                                        <input type="radio" id="bebida1" name="bebidas" value="bebida1">
                                    </li>
                                    <li>
                                        <label for="bebida2">Gaseosa</label>
                                        <input type="radio" id="bebida2" name="bebidas" value="bebida2">
                                    </li>
                                    <li>
                                        <label for="bebida3">Jugo de mango</label>
                                        <input type="radio" id="bebida3" name="bebidas" value="bebida3">
                                    </li>
                                </ul>

                            </div>

                            <div class="order-details" id="orderDetails">
                                <div class="order-content">
                                    <div class="precio">
                                        <p class="text-muted">Precio Total</p>
                                        <span th:text="${'$ ' + comida.precio}"></span>
                                    </div>
                                    <button type="submit" id="crearPedidoBtn" th:data-index="${iterStat.index}"><span class="material-icons-sharp shop">shopping_bag</span>Añadir al Carrito</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="historial">

    </div>

    <div class="right">
        <div class="top">
            <div class="close" id="closeShop-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <h3>Mi carrito</h3>
        </div>
        <div class="order-time">
            <small class="text-muted">¡Ya casi estamos!</small>
        </div>

        <div class="order-wrapper">

            <th:block th:each="lineaPedido , iterStat: ${lineasPedido}">
                <div class="order-card">
                    <img class="order-image" th:src="|data:image/png;base64,${lineaPedido.comida.ruta}|">
                    <div class="order-detail">
                        <span class="car-item-detail" th:text="${lineaPedido.comida.nombre}"></span>
                        <h3 th:text="'$' + ${lineaPedido.total}"></h3>
                        <div class="amount">
                            <span class="material-icons-sharp subtract">remove</span>
                            <input th:id="'amount-' + ${iterStat.index}" type="text" th:value="${lineaPedido.cantidad}" class="amount-input" disabled>
                            <span class="material-icons-sharp add">add</span>
                        </div>
                    </div>
                    <span class="btn-delete">
                <span class="material-icons-sharp">delete</span>
            </span>
                </div>
            </th:block>
        </div>

        <hr class="divider">
        <div class="order-total">
            <p>Subtotal <span th:text="'$' + ${pedido.subtotal}"></span></p>
            <p>IVA <span>19%</span></p>

            <div class="order-promo">
                <input class="input-promo" type="text" placeholder="Código">
                <button class="button-promo">Buscar promo</button>
            </div>
            <hr class="divider">
            <p>Total <span th:text="'$' + ${pedido.costoTotal}"></span></p>
        </div>

        <button id="btnPagar" class="checkout">
            Pagar
        </button>
    </div>
</div>
<script src=" https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../static/js/cliente.js"></script>
</body>
</html>