<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>

    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
    <script src="../static/js/swiper-bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cliente.css">
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <div class="profile">
                <div class="profile-photo">
                    <img src="../static/images/menu-1.png">
                </div>
                <div class="info">
                    <p>Hey, <b> Daniel</b></p>
                    <small class="text-muted">Cliente</small>
                </div>
            </div>
            <div class="cart" id="shop-btn">
                <span class="material-icons-sharp">shopping_cart</span>
            </div>
        </div>

        <div class="sidebar">

            <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <a href="#" class="active">
                <span class="material-icons-sharp">search</span>
                <h3>Buscar</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">home</span>
                <h3>Inicio</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">favorite</span>
                <h3>Preferencias</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">account_circle</span>
                <h3>Cuenta</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">flag</span>
                <h3>PQRS</h3>
            </a>
            <a href="/login">
                <span class="material-icons-sharp">logout</span>
                <h3>Salir</h3>
            </a>
        </div>
    </aside>

    <main>

        <div class="dashboard-banner">
            <img src="../static/images/banner.png">
        </div>

        <h1> Tenemos Esto Para Tí</h1>
        <div class="dashboard-menu">
            <a th:href="@{/cliente/fastFood}">Fast Food</a>
            <a th:href="@{/cliente/platoPrincipal}">Principal</a>
            <a th:href="@{/cliente/postres}">Postres</a>
            <a th:href="@{/cliente/promociones}">Promociones</a>
            <a th:href="@{/cliente/mejoresCalificados}">Mejor calificado</a>
            <a href="/cliente/dashboard">Todo</a>
        </div>

        <div class="dashboard-content">
            <div th:each="comida, iterStat : ${comidas}" class="dashboard-card comida-card" th:onclick="'mostrarPopup(' + ${iterStat.index} + ')'">
                <img class="card-image" th:src="|data:image/png;base64,${comida.ruta}|" alt="Comida Imagen">
                <div class="card-detail">
                    <h4 th:text="${comida.nombre}"></h4>
                    <p th:text="${'$ ' + comida.precio}" class="precio"></p>
                    <p class="card-time">
                        <span class="material-icons-sharp" id="star">star</span>
                        <span th:text="${comida.calificacion}"></span>
                    </p>
                </div>
                <div class="popup" th:id="'popup-' + ${iterStat.index}" style="display: none;">
                    <div class="popup-content">

                        <span class="close material-icons-sharp" th:onclick="'cerrarPopup(event, ' + ${iterStat.index} + ')'">navigate_before</span>

                        <div class="food-details">
                            <img class="card-image" th:src="|data:image/png;base64,${comida.ruta}|" alt="Comida Imagen">
                            <h2 th:text="${comida.nombre}"></h2>
                            <label>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </label>
                            <p class="card-time">
                                <span class="material-icons-sharp star-icon">star</span>
                                <span class="calificacion" th:text="${comida.calificacion}"></span>
                            </p>
                        </div>

                        <p id="toggleIngredients" class="toggle-selector">Selecciona los Ingredientes <span class="material-icons-sharp">expand_more</span></p>
                        <div class="ingredient-selector" id="ingredientSelector">
                            <ul>
                                <li>
                                    <label for="ingrediente1">Ingrediente 1</label>
                                    <input type="checkbox" id="ingrediente1" name="ingredientes" value="ingrediente1">
                                </li>
                                <li>
                                    <label for="ingrediente2">Ingrediente 2</label>
                                    <input type="checkbox" id="ingrediente2" name="ingredientes" value="ingrediente2">
                                </li>
                                <li>
                                    <label for="ingrediente3">Ingrediente 3</label>
                                    <input type="checkbox" id="ingrediente3" name="ingredientes" value="ingrediente3">
                                </li>
                            </ul>
                        </div>

                        <p id="toggleDrinks" class="toggle-selector">Selecciona tu bebida <span class="material-icons-sharp">expand_more</span></p>
                        <div class="ingredient-selector" id="drinkSelector">
                            <ul>
                                <li>
                                    <label for="bebida1">Agua con gas</label>
                                    <input type="radio" id="bebida1" name="bebidas" value="bebida1">
                                </li>
                                <li>
                                    <label for="bebida2">Gaseosa</label>
                                    <input type="radio" id="bebida2" name="bebidas" value="bebida2">
                                </li>
                                <li>
                                    <label for="bebida3">Jugo de mango</label>
                                    <input type="radio" id="bebida3" name="bebidas" value="bebida3">
                                </li>
                            </ul>

                        </div>

                        <div class="order-details" id="orderDetails">
                            <div class="order-content">
                                <div class="precio">
                                    <p class="text-muted">Precio Total</p>
                                    <span th:text="${'$ ' + comida.precio}"></span>
                                </div>
                                <button type="submit" id="crearPedidoBtn"><span class="material-icons-sharp shop">shopping_bag</span>Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="right">
        <div class="top">
            <div class="close" id="closeShop-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <h3>Mi carrito</h3>
        </div>

        <div class="order-address">
            <p>Dirección de entrega</p>
            <h4>lorem ipsum dolor sit amet</h4>
        </div>
        <div class="order-time">
            <small class="text-muted">30 mins</small>
            <small class="text-muted">2 km</small>
        </div>

        <div class="order-wrapper">
            <div class="order-card">
                <img class="order-image" src="../static/images/main-b.jpg">
                <div class="order-detail">
                    <span class="car-item-detail">Papas con arroz</span>
                    <h3>$35</h3>
                    <div class="amount">
                        <span class="material-icons-sharp">add</span>
                        <input type="text" value="2" class="amount" disabled>
                        <span class="material-icons-sharp">remove</span>
                    </div>
                </div>
                <span class="btn-delete">
                    <span class="material-icons-sharp">delete</span>
                </span>
            </div>

            <div class="order-card">
                <img class="order-image" src="../static/images/main-b.jpg">
                <div class="order-detail">
                    <span class="car-item-detail">Papas con arroz</span>
                    <h3>$35</h3>
                    <div class="amount">
                        <span class="material-icons-sharp">add</span>
                        <input type="text" value="2" class="amount" disabled>
                        <span class="material-icons-sharp">remove</span>
                    </div>

                </div>
                <span class="btn-delete">
                    <span class="material-icons-sharp">delete</span>
                </span>
            </div>

            <div class="order-card">
                <img class="order-image" src="../static/images/main-b.jpg">
                <div class="order-detail">
                    <span class="car-item-detail">Papas con arroz</span>
                    <h3>$35</h3>
                    <div class="amount">
                        <span class="material-icons-sharp">add</span>
                        <input type="text" value="2" class="amount" disabled>
                        <span class="material-icons-sharp">remove</span>
                    </div>

                </div>
                <span class="btn-delete">
                    <span class="material-icons-sharp">delete</span>
                </span>
            </div>
        </div>

        <hr class="divider">
        <div class="order-total">
            <p>Subtotal <span>$156</span></p>
            <p>IVA <span>$15.6</span></p>
            <p>Domicilio <span>$3</span></p>

            <div class="order-promo">
                <input class="input-promo" type="text" placeholder="Código">
                <button class="button-promo">Buscar promo</button>
            </div>
            <hr class="divider">
            <p>Total <span>$174.6</span></p>
        </div>

        <button id="btnPagar" class="checkout">
            Pagar
        </button>
    </div>
</div>
<script src=" https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../static/js/cliente.js"></script>
</body>
</html>